{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Редактировать обьявление{% endblock %}
{% block content %}
<body>
    <div class="edit-form-container">
        <h2>Редактирование объявления</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-save">Сохранить изменения</button>
            <a href="{% url 'auth_welcome' %}" class="btn-cancel">Отмена</a>
        </form>
    </div>
</body>
{% endblock %}
