<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="post-detail">
        <h1>Предложение обмена отправлено</h1>
        <h2>Название - {{ post.title }}</h2>
        <p> Категориая - {{ post.get_category_display }}</p>
        <p>Состояние - {{ post.get_condition_display }} </p>
        <p>Описание - {{ post.description }}</p>
    </div>
</body>
</html>